<div class="container">
    <a id="contacts"></a>
    <div class="footer__wrapper">
        <div class="footer__center">
            <div class="block-item">
                <div class="block-item__item">
                    <img src="{{ asset('img/header/place.png')}}" alt="" />
                    <p>ул. Ибрагимова 31 ас4</p>
                </div>
                <div class="block-item__item">
                    <img src="{{ asset('img/header/local_phone.png')}}" alt="" />
                    <a href="tel:+74994330728">+7 (499) 433-07-28</a>
                </div>
                <div class="block-item__item">
                    <a href="https://yandex.com/maps/213/moscow/house/ulitsa_ibragimova_31as4/Z04YcQVpTUEOQFtvfXt4cH1mYw==/?ll=37.762408%2C55.791157&mode=search&sll=-0.485971%2C38.343905&sspn=0.174408%2C0.077736&text=%D1%83%D0%BB.%20%D0%98%D0%B1%D1%80%D0%B0%D0%B3%D0%B8%D0%BC%D0%BE%D0%B2%D0%B0%2031%20%D0%B0%D1%814&z=13" target="_blank" class="build-route-btn">построить маршрут</a>
                </div>
                <div class="block-item__item">
                    <a href="yandexnavi://build_route_on_map?lat=55.779484&lon=37.719304" target="_blank" class="build-route-btn_mobile">построить маршрут</a>
                </div>
            </div>
            <div class="block-item">
                <div class="block-item__item">
                    <img src="{{ asset('img/header/place.png')}}" alt="" />
                    <p>1-й Силикатный проезд, 19/2с26</p>
                </div>
                <div class="block-item__item">
                    <img src="{{ asset('img/header/local_phone.png')}}" alt="" />
                    <a href="tel:+74951912074">+7 (495) 191-20-74</a>
                </div>
                <div class="block-item__item">
                    <a href="https://yandex.com/maps/213/moscow/house/1_y_silikatny_proyezd_19_2s26/Z04YcwZgTEcOQFtvfXt3eXVkZg==/?ll=37.510529%2C55.768973&z=16.59" target="_blank" class="build-route-btn">построить маршрут</a>
                </div>
                <div class="block-item__item">
                    <a href="yandexnavi://build_route_on_map?lat=55.768972&lon=37.510529" target="_blank"  class="build-route-btn_mobile">построить маршрут</a>
                </div>
            </div>
            <div class="time">
                <div class="time__item">
                    <img src="{{ asset('img/header/schedule.png')}}" alt="" />
                    <p>09:00-21:00</p>
                </div>
            </div>
        </div>
        <div class="footer__top">
            <iframe
                    src="https://yandex.ru/map-widget/v1/?um=constructor%3A1eb2a856320de4b8b4096743e9dfdac6ab09a8ee07cb5c8ae1f485a2ce66b8dc&amp;source=constructor"
                    width="100%"
                    height="545"
                    frameborder="0"
            ></iframe>
        </div>

        <div class="footer__bottom">
            <nav class="footer__nav">
                <ul class="footer__list">
                    <li><a href="{{ path('app_home') }}#about">О компании</a></li>
                    <li><a href="{{ path('app_home') }}services#">Услуги</a></li>
                    <li><a href="{{ path('korporativnym_klientam') }}">Корпоративным клиентам</a></li>
                    <li><a href="{{ path('app_home') }}#reviews">Отзывы</a></li>
                    <li><a href="{{ path('app_home') }}#sert">Сертификаты</a></li>
                    <li><a href="{{ path('app_home') }}#">Фотогалерея</a></li>
                    <li><a href="{{ path('app_home') }}#services">Цены</a></li>
                    <li><a href="{{ path('app_home') }}#contacts">Контакты</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<div class="footer__info">
    <div class="container">
        <div class="footer__block">
            <p>Ваг Сервис</p>
            <p>Ремонт и обслуживание VAG Group в Москве</p>
        </div>
    </div>
</div>

<div class="footer__agreement">
    <div class="container">
        <div class="agreement_block d-flex flex-column align-items-center mt-5">
            <noindex>
            <a href="{{ path('agreement') }}" rel="nofollow" style="font-weight: 500; font-size: 12px;">Политика конфиденциальности</a>
            </noindex>
            <div class="agreement_block_text">
                <noindex>
                <small class="mb-1 d-block">Обратите внимание на то, что данный интернет-ресурс (в том числе указанные цены на услуги и акции) носит исключительно ознакомительный характер и ни при каких условиях не является публичной офертой, определяемой положениями Статьи 437 (2) Гражданского кодекса РФ.</small>
                <small class="mb-0 d-block">Стоимость работ меняется в зависимости от марки автомобиля, его возраста и технического состояния. Для диагностики, обслуживания и ремонта Вашего автомобиля требуется предварительная запись.</small>
                </noindex>
            </div>
        </div>
    </div>
</div>

{{  include('elements/modals/footer-modal.html.twig') }}