<section>
    <div class="advantages fade-in-up">
        <div class="container">
            <div class="advantages__wrapper">
                <div class="advantages__items">
                    <div class="advantages__item">
                        <div class="advantages__img">
                            <img src="{{ asset('img/advantages/ad-1.png') }}" alt="" />
                        </div>
                        <div class="advantages__text">
                            <p>Специализированный автосервис</p>
                            <span
                            >«Вас Сервис» - автосервис по ремонту и обслуживанию {% if brand is defined %} {{ brand.name }} {% endif %} {% if model is defined %} {{ model.nameEn }} {% endif %} в Москве</span
                            >
                        </div>
                    </div>
                    <div class="advantages__item">
                        <div class="advantages__img">
                            <img src="{{ asset('img/advantages/ad-2.png') }}" alt="" />
                        </div>
                        <div class="advantages__text">
                            <p>2 года гарантии</p>
                            <span
                            >На слесарный ремонт {% if brand is defined %} {{ brand.nameRu }} {% endif %} {% if model is defined %} {{ model.nameRu }} {% endif %} мы предоставляем гарантию до 900 дней</span>
                        </div>
                    </div>
                    <div class="advantages__item">
                        <div class="advantages__img">
                            <img src="{{ asset('img/advantages/ad-2.png') }}" alt="" />
                        </div>
                        <div class="advantages__text">
                            <p>склад запчастей</p>
                            <span
                            >Большинство автозапчастей {% if brand is defined %} {{ brand.nameRu }} {% endif %} уже в наличии
</span
                            >
                        </div>
                    </div>
                    <div class="advantages__item">
                        <div class="advantages__img">
                            <img src="{{ asset('img/advantages/ad-2.png') }}" alt="" />
                        </div>
                        <div class="advantages__text">
                            <p>Честно считаем</p>
                            <span
                            >После диагностики называется<br />
                      полная стоимость работ</span
                            >
                        </div>
                    </div>
                    <div class="advantages__item">
                        <div class="advantages__img">
                            <img src="{{ asset('img/advantages/ad-3.png') }}" alt="" />
                        </div>
                        <div class="advantages__text">
                            <p>Дешевле дилера {% if brand is defined %} {{ brand.name }} {% endif %} до 50%</p>
                            <span
                            >Стоимость ремонта дешевле,<br />
                      а качество не хуже</span
                            >
                        </div>
                    </div>
                    <div class="advantages__item">
                        <div class="advantages__img">
                            <img src="{{ asset('img/advantages/ad-4.png') }}" alt="" />
                        </div>
                        <div class="advantages__text">
                            <p>Скидки до 25%</p>
                            <span
                            >Скидка 20% при первом обращении и 25% на повторный ремонт
                      и обслуживание</span
                            >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>