<section>
    <div class="repair">
        <div class="container">
            <div class="repair__wrapper">
                <div class="title fade-in-left">
                    <h2>
                        Ремонт и обслуживание <br />
                        любых моделей VAG Group
                    </h2>
                </div>
                <div class="repair__items fade-in-up">
                    {% for slug in slugsOrder %}
                        {% if brandsBySlug[slug] is defined %}
                            <div class="repair__item">
                                <a href="{{ slug }}{#{{ path('brand_show', {'slug': slug}) }}#}">
                                    <div class="repair__img">
                                        {{ svgBySlug[slug]|raw }}
                                    </div>
                                </a>
                                <a href="{{ slug }}{#{{ path('brand_show', {'slug': slug}) }}#}">{{ brandsBySlug[slug].name }}</a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>